<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Content: What do I want here?</p>
    <p>Probably a header with some links</p>
    <p>Some nice picture or whatever as the main thing</p>
    <p>My CV, possibly as a link</p>
    <p>Blog stuff?</p>
    <p>Do I want a footer?</p>
  </body>
</html>
