
body {
    background: #f9f9ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /*
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    */
}