
body {
    margin: 0;
    background: #f9f9ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background: #00cc7d;
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.header a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #f9f9ff;
}

.header a:hover {
    background: #223377;
}

.main {
    margin:20px;
}

.my-name {
    margin-bottom: 1em;
    font-size: 2.5em;
    font-style: bold;
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5em;
    display: block;
}

.contact li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}