
body {
    margin: 0;
    background: #f9f9ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background: #00cc7d;
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.header a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: #f9f9ff;
}

.header a:hover {
    background: #223377;
}

.main {
    margin:20px;
}

.my-name {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
    flex-wrap: flex;
    align-items: center;
}

.contact li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    display: block;
}

.contact li a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* should this section be simpler? */
.cv {
    margin-top: 50px;
}

.cv-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.cv-personal-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media only screen and (max-width: 850px) {
    .cv-personal-info {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        display: grid;
        grid-template-columns: 1fr; 
    }
}
.cv-section {
    margin-bottom: 1rem;
}

.section-header {
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: solid .5px;
}

.section-item {
    margin-bottom: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr; 
}

@media only screen and (max-width: 600px) {
    .section-item {
        margin-bottom: 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr; 
    }
}

.section-item-date {
    font-weight: bold;
}

.section-item-name {
    font-weight: bold;
}

.publication-item {
    padding-top: 1rem;
}